[submodule "ScreepsAutocomplete"]
	path = ScreepsAutocomplete
	url = https://github.com/Garethp/ScreepsAutocomplete.git
[submodule "murmurhash-js"]
	path = murmurhash-js
	url = https://github.com/garycourt/murmurhash-js
